.contentContainer>hr {
    margin: 10px;
}
.buttons>button {
    width: 120px;
}
#login>div>label {
    display: inline-block;
    width: 130px;
}
#login>.input>label {
    width: auto;
}
#register>div>.labelBig {
    display: inline-block;
    width: 80px;
}
#register>.buttons {
    text-align: center
}
#login>div>input[type=text], #login>div>input[type=password] {
    width: 230px;
}
#login>.buttons {
    display: none;
}
#patientLogin>div>label {
    display: inline-block;
    width: 85px;
}
.contentContainer {
    display: flex;
    justify-content: center;
}
.input {
    margin: 10px;
}
.buttons {
    margin-top: 20px;
}
#register {
    text-align: left;
}
#name {
    width: 110px;
    margin-right: 5px;
}
#surname {
    width: 140px;
}
#email {
    width: 285px;
}
#street {
    width: 155px;
}
#age, #housenr, #countrycode {
    width: 30px;
    margin-right: 5px;
}
#addition {
    width: 30px;
}
#postalcode {
    width: 50px;
    margin-right: 5px;
}
#city {
    width: 285px;
}
#employeeLogin {
    display: none;
}
