body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: auto;
}
hr {
    margin: 10px 25%;
}
ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0 20px;
}
#dashboard.content {
    display: flex;
}
.cardContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 600px;
    margin: auto;
}
.cardAreaWithoutOptions {
    display: flex;
}
.cardContainerItem {
    flex: 1 1;
}
.card {
    width: 200px;
    height: 50px;
    border: solid black 1px;
    border-radius: 20px;
    background-color: darkgray;
    font-family: Arial, sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin: auto;
    padding: 0 20px
}
.cardWithoutSelection {
    margin: auto auto 0;
}
.card:hover {
    cursor: pointer;
}
.searchButton {
    width: 120px;
    height: 20px;
    border: solid black 1px;
    border-radius: 20px;
    background-color: darkgray;
    font-family: Arial, sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    margin: auto;
    padding: 0 20px
}
.searchButton:hover {
    cursor: pointer;
}
.patientDataItem>label:nth-of-type(even) {
    margin-left: 20px;
}
.allDataList {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
.flexible {
    display: flex;
    flex-wrap: wrap;
}
.allDataItem {
    margin: 5px;
    padding: 5px 10px;
    outline: solid black 1px;
}
.breakDiv {
    display: inline-block;
    margin: 0 10px;
}
#header {
    padding: 10px;
}
#headerIcon {
    width: 50px;
    height: 50px;
    border: solid black 1px;
    border-radius: 10px;
}
#selectionContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 10px 50px;
}

#selectionContainer>div {
    display: flex;
    flex-direction: column;
}
#selectionContainer>div>label {
    margin-bottom: 5px;
}